/*STEP #1: Define the animation sequence*/
@keyframes colorchange {
from { background-color: hotpink;}
to{ background-color: lightpink;}
}
@keyframes colorchangesmooth {
    0% { background-color: hotpink;}
    50% {background-color: lightpink;}
    100% {background-color: hotpink;}
}

/* STEP #2: Configure animation on an element */
#animated-box {
    width: 200px;
    height: 200px;
    border: 2px solid hotpink;
    animation-name: colorchangesmooth;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

/*Use TRANSFORMS in an animation*/
@keyframes spin {
    0% {transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}
#animated-emoji {
    animation-name: spin; 
    animation-duration: 5s;
    animation-iteration-count: infinite;
    font-size: 40px;
    animation-timing-function: linear;
}